/* ---- reset ---- */

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature{
  background: grey;
  margin-right: 20px;
}

section {
  padding: 20px 0;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  text-decoration:underline;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: black;
 }
 
 .nav-list li {
  color: white;
  display: inline-block;
  padding-right: 20px;
 }

form input{
  margin-bottom: 15px;
}

form label{
  margin-bottom: 10px;
  text-decoration: underline;
}

.button-submit{
  font-size: 25px;
  padding: 5px;
  margin-top: 15px;
}

#comment, #user{
  margin-bottom: 15px;
 
}
/* ---- footer ---- */
footer ul {
  list-style-type: none;
}

img{
  width: 10%;
  height: 10%;
}
/* ---- components ---- */

/* ---- css shame ---- */

